h5 {
    font-weight: bold;
}

p {
    font-size: 14px;
    font-weight: bold;
}

.site-card {
    border: 1px solid black;
}

.link-holder {
    background-color: rgb(162, 205, 211);
    font-size: small;
    color: blue;
}

.add-new-password {
    border: 2px solid black;
}

.btn {
    font-size: 13px;
}

.table {
    border: 1px solid black;
}

.bg {
    background-color: rgb(165, 160, 160);
}

.message-alert {
    transition: all ease 0.5s;
}
#togglePassword{
    cursor: pointer;
}